exclude: '^docs/conf.py'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: mixed-line-ending
    args: ['--fix=auto']

- repo: https://github.com/PyCQA/autoflake.git
  rev: 'v2.2.1'
  hooks:
    - id: autoflake

- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 23.12.1
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    args: ['--max-line-length=88']  # default of Black

- repo: https://github.com/PyCQA/bandit.git
  rev: '1.7.6'
  hooks:
  -   id: bandit
      exclude: '^tests/'

- repo: https://github.com/crate-ci/typos.git
  rev: 'v1.17.2'
  hooks:
    - id: typos
